@model IEnumerable<LogicaNegocio.Entidades.Usuario>

@{
    ViewData["Title"] = "Listar Usuarios";
}

<h1>Listar Usuarios</h1>

<partial name="_Mensajes" />
<p>
	<a asp-action="CrearUsuario">Crear Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto.Apellido)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto.Apellido)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "EditarUsuario", new { id = item.Id }) |
	            @Html.ActionLink("Eliminar", "EliminarUsuario", new { id = item.Id }, new { onclick = "return confirm('¿Está seguro de que desea eliminar este usuario?');" })
            </td>
        </tr>
}
    </tbody>
</table>
